/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Шапка */
header {
    background: #0073e6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Навигация */
nav {
    background: #005bb5;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Основное содержимое */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

.section {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #333;
    font-size: 1.8em;
}

.section p,
.section ul {
    color: #555;
    margin-top: 10px;
}

.section ul li {
    margin-bottom: 10px;
}

/* Кнопка */
.button {
    background: #0073e6;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
	outline:none;
	margin-top: -10px; /* Перемещает кнопку вверх */
}



.button:hover {
    background: #005bb5;
}
img {
  width: 600px;
  margin-left: 280px;
  
}
@media (max-width: 768px) {
    img {
        max-width: 90%; /* На мобильных устройствах картинка будет занимать 90% ширины */
        margin: 0 auto; /* Центрирует изображение */
        display: block; /* Превращает изображение в блочный элемент */
    }
}
/* Подвал */
footer {
    text-align: center;
    padding: 10px;
    background: #0073e6;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
